BasedOnStyle: Mozilla
ColumnLimit: 80
Standard: c++14
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceAfterTemplateKeyword: true
BreakBeforeBraces: Mozilla
CompactNamespaces: false